<div class="row justify-content-center d-flex mt-5">
    <div class="col-12 col-sm-12 col-md-5">
        <form action="/auth/signin" method="POST" class="card border-secondary" style="min-width: 25rem;">
            <div class="card-header">Login</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="email" class="col-sm-5 col-form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                        placeholder="Ingrese su correo electronico" required>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-auto col-form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Ingrese su contraseña" required>
                </div>
                <button class="btn btn-primary w-100 mt-4">
                    Signin
                </button>
            </div>

        </form>
    </div>
</div>